<div id="<%= dom_id listing %>">
  <p>
    <strong>Title:</strong>
    <%= listing.title %>
  </p>

  <p>
    <strong>Info:</strong>
    <%= listing.info %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= number_to_currency listing.price, :unit => listing.currency %>
  </p>

  <p>
    <strong>Seller:</strong>
    <%= listing.user.name %>
  </p>
</div>
