<!DOCTYPE html>
<html>
  <head>
    <title>TheBST</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <header>
      <%= link_to "The BST", root_path %>

      <% unless logged_in? %>
        <%= render "shared/login" %>
      <% else %>
        <p>Logged in as:
        <%= render current_user %>
        <%= link_to "Logout", logout_path %>
        </p>
      <% end %>

    </header>
    <%= yield %>
  </body>
</html>

