<!DOCTYPE html>
<html>
  <head>
    <title>TheBST</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <header>
      <span>
        <%= link_to "The BST", root_path %>
      </span>

      <%- unless logged_in? %>
      <h4>Sign In</h4>

      <%= form_with url: "/login", method: :post do |f| %>

        <%= f.label :email %>
        <%= f.text_field :email %>
        <%= f.label :password %>
        <%= f.password_field :password %>
        <%= f.submit  `Login` %>

      <% end %>
      <% end %>

    </header>
    <%= yield %>
  </body>
</html>

